mixin css(src)
    link(rel="stylesheet", href="/css/"+src)

mixin js(src)
    script(src="/js/"+src)


doctype html5
html
    head
        title #{title}

        +css("base.css")
    body
        div.content
            block content

        script.
            var params = {
                host: '#{host}',
                port: #{port}
            };


        // scripts
        +js("jquery.min.js")
        +js("socket.io.js")
